body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 130px;
}

#linvest{
    position: relative;
    top: 33px;
    left: 5px;
}
/* Estilos para o menu de navegação lateral */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}
.sidenav a {
    padding: 16px 8px 16px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #ffd700;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Estilos para o botão de navegação */
.nav-btn {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}
/* Estilos para o conteúdo */
.main {
  transition: margin-left 0.5s;
  padding: 20px;
  margin-top: 50px;
  
}
#container1 {
  background-color: hsl(0, 45%, 98%);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
  filter: drop-shadow(15px 5px 5px black);
}
#container2 {
  background-color: hsl(0, 45%, 98%);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
  filter: drop-shadow(15px 5px 5px black);
}
#container3{
  background-color: hsl(0, 45%, 98%);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
  filter: drop-shadow(15px 5px 5px black);
}

#Investimentos-texto{

    font-size: 3em;
    
}

#teste-texto{

    font-size: 3em;
    
}

#suporte-texto{
    font-size: 3em;
}


*{
  box-sizing:border-box
}


#principal{
    position: relative;
    top: -15px;
}