body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcdcb8d3;
}
header {
    background-color: #e2b683d3;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para a navbar horizontal */
.navbar {
    background-color: #e2b683d3;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.main {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-left: 0; /* Corrigido para 0 */
}
.section-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.section-container h2 {
    color: #333;
    margin-bottom: 10px;
}
.section-container p {
    color: #555;
    line-height: 1.5;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 5px;
}
