body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcdcb8d3;
}
header {
    background-color: #e2b683d3;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para a navbar horizontal */
.navbar {
    background-color: #e2b683d3;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.main {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-left: 0; /* Corrigido para 0 */
}
.section-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.section-container h2 {
    color: #333;
    margin-bottom: 10px;
}
.section-container p {
    color: #555;
    line-height: 1.5;
}
.calculator-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.calculator-container h3 {
    color: #333;
    margin-bottom: 10px;
}
.input-group {
    margin-bottom: 10px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.input-group button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.input-group button:hover {
    background-color: #555;
}
.result {
    margin-top: 20px;
}

.nav-btn {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}